<div class="wrapper">
  <div class="window">
    <div [class]="rtl"><img (click)="closeAdd()" src="/assets/img/appImg/cross.svg"></div>
    <form #form #validation="ngForm" (submit)="onSubmit(form,validation)">
      <h1>{{'make_new_wish'|localize}}</h1>
      <label for="addName">{{'wish_name'|localize}}</label>
      <input id="addName" type="text" name="name"
             [(ngModel)]="wish.name"
             required
             minlength="5"
             pattern="^[A-zА-я0-9_-]{5,25}$"
      />
      <label for="addDescript">{{'add_description'|localize}}</label>
      <textarea rows="4" name="addDescript" id="addDescript"></textarea>
      <label for="addLink">{{'wish_link'|localize}}</label>
      <input type="text" name="addLink" id="addLink"
             [(ngModel)]="wish.addLink"
             required
             pattern="^((https?|ftp)\:\/\/)?([a-z0-9]{1})((\.[a-z0-9-])|([a-z0-9-]))*\.([a-z]{2,6})(\/?)$"
      />
      {{'wish_price'|localize}} <input type="number" name="addPrice" id="addPrice" min="1"
                   [(ngModel)]="wish.addPrice"
                   required
                   pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$"
    > BYN
      <div class="file-upload">
      <label for="file">{{'upload_img'|localize}}</label>
      <input type="file" name="file" id="file" ng2FileSelect [uploader]="uploader"/>
      </div>

      <label>{{'lin_to_img'|localize}}<input type="text" name="addlinkImg" id="addlinkImg"
                                             [(ngModel)]="wish.imgLink"
                                             pattern="^[a-z0-9\:=?%&/-%#]+(.jpg|.png)$"
    /></label>

      <button type="submit">{{'add_wish'|localize}}</button>
    </form>
  </div>
</div>
