<div class="wrapper">
  <div class="back_wrap">
    <div class="back" (click)="goBack()"><img src="/assets/img/appImg/back.svg">{{'back_to_wishes'|localize}}</div>
  </div>
  <div class="photo">
    <div class="avatar">
      <img *ngIf="user.avatar" [attr.src]="user.avatar">
    </div>
  </div>
  <div class="ident">
    <h2>{{user.name}}</h2>
    <h3>{{user.sex|localize}}</h3>
  </div>
  <div class="window">
    <div class="form_wrapper">
      <form #form #validation="ngForm" (submit)="onSubmit(form,validation)">

        <div class="form_group">
          <p class="center">{{'your_name_now'|localize}} {{user.name}}</p>
          <label for="changeName">{{'change_to'|localize}}</label>
          <input type="text" name="changeName" id="changeName" [(ngModel)]="userModel.name"
                 minlength="2"
                 pattern="^[A-zА-я]{5,16}$"/>
          <label><p class="center">{{'sex_mistake'|localize}}</p>
            <p>
              <span>{{'male'|localize}}<input type="radio" name="sex" value="male" [checked]="radioMale"></span>
              <span class="famale">{{'female'|localize}}<input type="radio" name="sex" value="female" [checked]="radioFemale"></span>
            </p>
          </label>
        </div>

        <div>
          <p class="center">{{'your_email_now'|localize}} {{user.email}}</p>
          <label for="changeEmail">{{'change_to'|localize}}</label>
          <input type="email" name="changeEmail" id="changeEmail" [(ngModel)]="userModel.email"
                 minlength="6"
                 pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"/>
          <div class="passwordBlock">
            <span *ngIf="!showPass">{{'your_password_now'|localize}}<span class="pass">{{user.password|passwordHidden}}</span></span>
            <span *ngIf="showPass">{{'your_password_now'|localize}}<span class="pass">{{user.password}}</span></span>
            <img (click)="showPassword()" [attr.src]="showButton">
          </div>
          <label for="changePass">{{'change_to'|localize}}</label>
          <input type="password" name="changePass" id="changePass" [(ngModel)]="userModel.password" minlength="6"
                 pattern="^[A-zА-я1-9 ]+$"/>
        </div>

        <div class="file-upload">
          <label for="file">{{'upload_avatar'|localize}}</label>
          <input type="file" name="file" id="file" ng2FileSelect [uploader]="uploader"/>
        </div>
        <div class="back_wrap">
          <div (click)="removeAccount()" class="remove_account">{{'remove_account'|localize}}</div>
        </div>
        <div *ngIf="showWarning" class="warning">{{'sure_delete_account'|localize}}</div>
        <button type="submit">{{'save_changes'|localize}}</button>

      </form>
    </div>
  </div>
</div>
<img style="display: none" src="/assets/img/appImg/show.svg">
