<style>
  input.ng-dirty.ng-invalid {border-color: lightcoral}
  input.ng-dirty.ng-valid {border-color: lightgreen}
</style>
<div>
<h1>Log in</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit(form,remember)">
    <div style="color:red"
         *ngIf = "formSubmitted && form.invalid">
      There are problems with form
      <ul>
        <li *ngFor="let error of getFormValidationMessages(form)">
          {{error}}
        </li>
      </ul>
    </div>
    <div id="formWrapper">
      <label for="email">{{'Please, insert your Email'|localize }} </label>
      <input id="email" type="email"  name="email" [(ngModel)]="authorize.email"
             required
             minlength="6"
             pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"/>

      <label for="password">Please, insert your password</label>
      <input id="password" type="password" name="password" [(ngModel)]="authorize.password"
             required
             minlength="6"
             pattern="^[A-zА-я1-9 ]+$"/>

      <label for="rememberme">Remember me</label>
        <input class="checkbox" id="rememberme" type="checkbox" name="remember" [(ngModel)]="remember">


      <button id='signin' type="submit">SIGN IN</button>
    </div>
    <p>If you are unable to authorize, you may need to <a routerLink="/registration" >register</a></p>
  </form>
</div>

