.wrapper{
  display: flex;
  flex-direction: column;
}
.item {
  border: 1px solid black;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  .content{
    width: auto;
    max-width:95%;
  }
  .remove{
    width: 30px;
    min-width: 20px;
    align-self: center;
  }
}
button {
  margin: 10px auto;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid gray;
  height: 40px;
  width: 50%;
  outline: none;
  cursor: pointer;
}
.back {
  text-align: right;
  cursor: pointer;
}



