<div class="wrapper">
  <div class="back" (click)="goBack()"><img src="/assets/img/appImg/back.svg">{{'back_to_wishes'|localize}}</div>

  <div #item *ngFor="let wishlist of wishlists; let i = index"
       class="item" [style.backgroundColor]="(i%2)?'#85D3D4':'#F5EF6E'">
    <div class="content">
      <p>{{wishlist.name}}</p>
      <p>{{'members'|localize}}: {{wishlist.members}}</p>
      <p class="link" (click)="derectToWishlist(wishlist.url)">{{'go_to'|localize}}</p>
    </div>
    <div (click)="onRemoveWishlist(wishlist._id,item)" class="remove">
      <img src="/assets/img/appImg/cross.svg">
    </div>
  </div>
  <button (click)="openAddWishlist()">{{'make_wishlist'|localize}}</button>
</div>
<div *ngIf="addWishlistActive">
  <app-add-wishlist (closeAddWishlist)="closeAddWishlist()" (ReRenderWishList)="ReRenderWishList()"></app-add-wishlist>
</div>
