<div>
<div *ngFor="let itemData of items">
<app-wish-list-page-item (reCalculate)="reCalculate()" [wishList]="wishList" [itemData]="itemData" [userEmail]="userEmail"></app-wish-list-page-item>
</div>
</div>
<div *ngIf="show">
  <p>Total: {{calc.total}} of {{calc.totalAll}}</p>
  <div *ngFor="let sum of calc.membersSumMap">
  <p>{{sum[0]}} spend {{sum[1]}}RUB</p>
  </div>
  <div *ngFor="let sum of calc.membersTotalMap">
    <p>{{sum[0]}}{{sum[1]<0 ? ' need give': ' need take'}} {{sum[1]<0 ? sum[1]*-1 : sum[1]}}RUB</p>
  </div>
</div>
