<div class="wrapper">
  <div class="window">
    <div class="remove" ><img (click)="closeWindow()" src="/assets/img/appImg/cross.svg"></div>
    <form  #form #validation="ngForm" (submit)="onSubmit(form,validation)">
      <label for="wishListName">Write name of your new wishlist</label>
      <input type="text" name="wishListName" id="wishListName"
      required
             [(ngModel)]="wishlistModel.wishListName"
             minlength="4"
             pattern="^[A-zА-я0-9_-]{4,25}$"
      >
      <p>Choice wishes from your wishes</p>
      <div *ngFor="let i of wishes">
      <label>{{i.name}}
      <input type="checkbox" [attr.id]="i._id" [attr.name]="i._id">
      </label>
      </div>
      <label for="members">Add members</label>
      <input id="members" type="text" name="members"
             [(ngModel)]="wishlistModel.members"
      required
      minlength="6"
             pattern="^((([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6})\s?[,]?\s?)+$"
      >
      <button type="submit">Create wishlist</button>
    </form>
  </div>
</div>
