<div class="wrapper">
  <div class="window">
    <div [class]="rtl" ><img (click)="closeWindow()" src="/assets/img/appImg/cross.svg"></div>
    <form  #form #validation="ngForm" (submit)="onSubmit(form,validation)">
      <h1>{{'сreate_wishlist'|localize}}</h1>
      <label for="wishListName">{{'wish_name'|localize}}</label>
      <input type="text" name="wishListName" id="wishListName"
      required
             [(ngModel)]="wishlistModel.wishListName"
             minlength="4"
             pattern="^[A-zА-я0-9_-]{4,25}$"
      >
      <p>{{'choice_wishes'|localize}}:</p>
      <div class="checkboxes">
      <div *ngFor="let i of wishes">
      <input type="checkbox" [attr.id]="i._id" [attr.name]="i._id">
        <label [attr.for]="i._id">{{i.name}}</label>
      </div>
      </div>
      <label for="members">{{'add_members'|localize}}</label>
      <input id="members" type="text" name="members" [placeholder]="'separated_comma'|localize"
             [(ngModel)]="wishlistModel.members"
      required
      minlength="6"
             pattern="^((([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6})\s?[,]?\s?)+$"
      >
      <button type="submit">{{'сreate_wishlist'|localize}}</button>
    </form>
  </div>
</div>
