select{
  outline: none;
  border:none;
width:20px;
  max-height: 50px;
  background-color: transparent;

  option{
    color:black;
    background-color: transparent;
  }
}
img{
  width: 10%;
  height: auto;
  max-width: 50px;
}
.switcher{
  display: flex;
  flex-wrap: nowrap;
  max-height: 50px;
  justify-content: flex-end;
  margin: -10px 0;
}
