img{
  max-width: 200px;
}
input,label{
  display: block;
}
.item{
  width:220px;
  margin: 10px;
  border: 1px solid black;
}
.visible {
  display: block;
}
.unvisible {
  display: none;
}
