<div class="item">
  <div *ngIf="show" [ngClass]="formActive">
    <label for="iWantToBuy">{{'want_to_buy'|localize}}</label>
    <input #wanttobuy type="checkbox" name="iWantToBuy" id="iWantToBuy" [(ngModel)]="checkbox" >
    <label for="notes">{{'change_notes'|localize}}</label>
  <input #notes type="text" name="notes" id="notes" [(ngModel)]="itemData.notes">
    <label for="price">{{'correcting_price'|localize}}</label>
    <input #price type="number" min="1" id="price" name="price" [(ngModel)]="itemData.price">
  </div>
  <img [attr.src]="itemData.imagePath">
  <p>{{itemData.name}}</p>
  <p>{{itemData.link}}</p>
  <p>{{itemData.price|numberFormat}}BYN</p>
  <p>{{itemData.description}}</p>
  <div>
    <div *ngIf="show" >
      <hr>
  <p *ngIf="itemData.members[0]">{{'will_buy'|localize}}:</p>
  <p *ngFor="let member of itemData.members">
    {{member}}
  </p>
  <p>{{itemData.notes}}</p>
  </div>
  <button type="button" (click)="change(changeButton)">{{changeButton|localize}}</button>
  </div>
</div>
