<div >
  <h1 class="container" [ngStyle]="style" style="justify-content: center">
    <span> {{'Welcome_to' | localize }}</span><span>{{title}}</span>
  </h1>
</div>
<div class="container" [ngStyle]="style">
  <div>{{currentDate | dateFormat }}</div>
  <div> {{12000000 | numberFormat}} </div>
</div>
<div class="row"  [ngStyle]="style" >
  <img [attr.src]= "url" (click)="burgerClick()">
  <div *ngIf="menuActive"><app-main-left-menu></app-main-left-menu></div>
  <app-wish-items-list></app-wish-items-list>
</div>
