img{
  //max-width: 200px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.remove{
  text-align: right;
  margin-bottom: -20px;
  margin-right: -10px;
  z-index: 1;
  position: relative;
 img{
   width:30px;
   box-shadow: none;
   cursor: pointer;
   &:hover{
     transform: scale(1.1);
     transition: transform 0.2s ease-out 0.1s;
   }
 }
}
.rtl{
  text-align: left;
  margin-bottom: -20px;
  margin-left:-10px;
  z-index: 1;
  position: relative;
  img{
    width:30px;
    box-shadow: none;
    cursor: pointer;
  }
}
P{
  font-family: 'Main';
  font-weight: bold;
  font-size: 15pt;
}
.content{
  padding: 0 5px;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.4);
  word-wrap: break-word;
  a{
    text-shadow: none;
  }
}
