<script src="main-left-menu.component.ts"></script>
<div [class]="rtf" >
  <div class="menuItem" (click)="changePageTo('add_wish_page')"><div>{{'make_new_wish'|localize}}</div></div>
  <div class="menuItem" (click)="changePageTo('wishlists_page')"><div>{{'wishlists'|localize}}</div></div>
  <div class="menuItem" (click)="changePageTo('follow_page')"><div>{{'follow_wishlists'|localize}}</div></div>
  <div class="menuItem"><div>{{'settings'|localize}}</div></div>
  <div class="menuItem" (click)="logOut()"><div>{{'log_out'|localize}}</div></div>
</div>
