<script src="main-left-menu.component.ts"></script>
<div [class]="rtf" >
  <div class="menuItem" (click)="showAdd()"><div>{{'make_new_wish'|localize}}</div></div>
  <div class="menuItem" (click)="showWishLists()"><div>{{'wishlists'|localize}}</div></div>
  <div class="menuItem" (click)="showFollow()"><div>{{'follow_wishlists'|localize}}</div></div>
  <div class="menuItem"><div>{{'settings'|localize}}</div></div>
  <div class="menuItem" (click)="logOut()"><div>{{'log_out'|localize}}</div></div>
</div>
