/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Main";
  src: url("assets/fonts/main.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('assets/fonts/ProximaNova-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("assets/fonts/ProximaNova-Bold.eot");
  src: url("assets/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/ProximaNova-Bold.woff") format("woff"),
  url("assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  background-size: cover;
  height: 100%;
}

#connectError {
  max-width: 200px;
  width: 20%;
  font-family: sans-serif;
  font-size: 12px;
  opacity: 0.5;
  border: 2px solid black;
  border-radius: 3px;
  padding: 2px;
  position: absolute;
  top: 2px;
  right: 10px;
}

input.ng-dirty.ng-invalid {
  border-color: lightcoral
}

input.ng-dirty.ng-valid {
  border-color: lightgreen
}
